{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Welcome {% endblock %}</div>

<div>
  {% block content %}
  <!-- carousel -->
  
    <h1>{{ carousel.title}}</h1>
  

  <div class="carousel" data-ride="carousel">
    <div class="carousel-inner">
      {% for carousel in carouselImages %}
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{ carousel.image.url}}" alt="{{carousel.title}}">
        <div class="carousel-caption">
          <h5>{{ carousel.title}}</h5>
          <p>{{ carousel.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="arrow-btn prev">&#8656;</button>
    <button class="arrow-btn next">&#8658;</button>
    <div class="intake-cta">
      <a href="{% url 'online-registration'%}"> Intakes Ongoing <span class="link">Click me to Join</span></a>
    </div>
  </div>

  <!-- News Section -->
  <section class="news">
    <div class="container">
      <div class="latest">
        <h2>Latest News</h2>
        <div class="news-holder">
          {% include 'latest/latests.html' %}
            </div>
            <div class="news-card-footer">
              <a href="{% url 'all-latest' %}" class="btn">All Latest News</a>
            </div>
          </div>
          <div class="events">
            <h2>Upcoming Events</h2>
            <div class="events-holder">
              {% include 'upcoming/upcomings.html' %}
            </div>
            <div class="events-card-footer">
              <a href="{% url 'all-upcoming' %}" class="btn">All Upcoming Events</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- Features Section -->
  <section class="dep-features">
    <h2>Departments</h2>
    <div class="container department-holder">
      {% for deptmsg in dept_msgs %}
      <a href="{% url 'single-department'  dept_id=deptmsg.id dept_name=deptmsg.department%}">
        <div class="dept-item">
          <div class="dept-img-holder">
            <img src="{{ deptmsg.display_image.url }}" alt="{{deptmsg.title}}">
          </div>
          <h3 class="dept-title">{{ deptmsg.title | safe }}</h3>
          <p>
            {{ deptmsg.brief | safe }}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  {% endblock %}
</div>
