{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Welcome {% endblock %}</div>

<div>
  {% block content %}
  <!-- banner -->
  <div class="banner">
    <div class="banner-msg">
      <h2>Kinangop Technical and Vocational College</h2>
    </div>
  </div>
  <!-- News Section -->
  <section class="news">
    <div class="container">
      <div class="latest">
        <h2>Latest News</h2>
        <div class="news-holder">
          {% include 'latest/latests.html' %}
            </div>
            <div class="news-card-footer">
              <a href="{% url 'all-latest' %}" class="btn">All Latest News</a>
            </div>
          </div>
          <div class="events">
            <h2>Upcoming Events</h2>
            <div class="events-holder">
              {% include 'upcoming/upcomings.html' %}
            </div>
            <div class="events-card-footer">
              <a href="{% url 'all-upcoming' %}" class="btn">All Upcoming Events</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- Features Section -->
  <section class="features">
    <h2>Features</h2>
    <div class="container">
      <div class="main-features">
        <div class="feature-content">
          <h2>Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            distinctio, inventore sit molestias possimus dolore veniam! Tempora
            in ab repellendus!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            blanditiis earum necessitatibus natus, sit quasi.
          </p>
        </div>
        <div class="feature-images">
          <img src="{% static 'images/ict_session.jpg' %}" alt="Test Image" />
        </div>
        <div class="feature-images">
          <img src="{% static 'images/metal_des.jpg' %}" alt="Test Image" />
        </div>
        <div class="feature-content">
          <h2>Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            distinctio, inventore sit molestias possimus dolore veniam! Tempora
            in ab repellendus!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            blanditiis earum necessitatibus natus, sit quasi.
          </p>
        </div>
        <div class="feature-content">
          <h2>Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            distinctio, inventore sit molestias possimus dolore veniam! Tempora
            in ab repellendus!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            blanditiis earum necessitatibus natus, sit quasi.
          </p>
        </div>
        <div class="feature-images">
          <img src="{% static 'images/car_mec.jpg' %}" alt="Test Image" />
        </div>
        <div class="feature-images">
          <img src="{% static 'images/welding.jpg' %}" alt="Test Image" />
        </div>
        <div class="feature-content">
          <h2>Lorem ipsum dolor sit.</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            distinctio, inventore sit molestias possimus dolore veniam! Tempora
            in ab repellendus!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            blanditiis earum necessitatibus natus, sit quasi.
          </p>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</div>
