{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Welcome {% endblock %}</div>

<div>
  {% block content %}
  <!-- banner -->
  <div class="banner">
      <button class="arrow-btn prev">&#8656;</button>
      <button class="arrow-btn next">&#8658;</button>

      <img src="{% static 'images/IMG_9326.jpg' %}" alt="" class="image active" />
      <img src="{% static 'images/IMG_9323.jpg' %}" alt="" class="image " />
      <img src="{% static 'images/IMG_9329.jpg' %}" alt="" class="image " />
      <img src="{% static 'images/IMG_9325.jpg' %}" alt="" class="image " />


      <div class="banner-msg">
        Kinangop Technical and Vocational College
      </div>
  </div>
  <!-- News Section -->
  <section class="news">
    <div class="container">
      <div class="latest">
        <h2>Latest News</h2>
        <div class="news-holder">
          {% include 'latest/latests.html' %}
            </div>
            <div class="news-card-footer">
              <a href="{% url 'all-latest' %}" class="btn">All Latest News</a>
            </div>
          </div>
          <div class="events">
            <h2>Upcoming Events</h2>
            <div class="events-holder">
              {% include 'upcoming/upcomings.html' %}
            </div>
            <div class="events-card-footer">
              <a href="{% url 'all-upcoming' %}" class="btn">All Upcoming Events</a>
            </div>
          </div>
      </div>
    </div>
  </section>
  <!-- Features Section -->
  <section class="dep-features">
    <h2>Departments</h2>
    <div class="container department-holder">
      {% for deptmsg in dept_msgs %}
      <a href="{% url 'single-department'  dept_id=deptmsg.id dept_name=deptmsg.department%}">
        <div class="dept-item">
          <div class="dept-img-holder">
            <img src="{{ deptmsg.display_image.url }}" alt="{{deptmsg.title}}">
          </div>
          <h3 class="dept-title">{{ deptmsg.title | safe }}</h3>
          <p>
            {{ deptmsg.brief | safe }}
          </p>
        </div>
      </a>
      {% endfor %}
    </div>
      

  </section>

  {% endblock %}
</div>
