{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Careers {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Gallery</h2>

        <div class="image-card">
          {% for gallery in galleries %}
          <div class="card">
            <div class="card-body">
              <a href="{{ gallery.image.url }}"
                ><img src="{{ gallery.image.url }}" alt="{{ gallery.title }}"
              /></a>
            </div>
            <div class="card-footer">{{gallery.description | safe }}</div>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
