{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Careers {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Gallery</h2>

        {% for gallery in galleries %}
        <div class="image-card">
          <div class="card-body">
            <img src="{{ gallery.image.url }}" alt="{{ gallery.title }}" />
          </div>
          <div class="card-footer">{{gallery.description | safe }}</div>
        </div>
        {% endfor %}
      </section>
    </div>
  </section>
  {% endblock %}
</div>
