{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Upcoming Events {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <header class="title-bar">
        <h2>Upcoming Events</h2>
      </header>
      <section class="content">
        <div class="container">
          {% for upcoming in upcomings %}
          <h2>
            <a href="{% url 'single-upcoming' upcoming.id upcoming.slug %}"
              >{{ upcoming.title | safe }}</a
            >
          </h2>
          <p>{{ upcoming.body | safe | truncatewords:100 }}</p>
          {% endfor %}
        </div>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
