{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} {{ upcoming.title }} {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <header class="title-bar">
        <h2>{{upcoming.title}}</h2>
        <a href="/">Home</a>
      </header>
      <section class="content">
        <div class="content-image">
          <img src="{{ upcoming.image.url }}" alt="Test Image" />
        </div>

        {{upcoming.body | safe}}
      </section>
    </div>
  </section>
  {% endblock %}
</div>
