{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} About Us {% endblock %}</div>

<div>
  {% block content %}

  <!-- banner -->
  <div class="banner">
    <div class="banner-msg">
      <h2>About Kinangop Technical and Vocational College</h2>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="about">
        <h2>Kinangop Technical and Vocational College</h2>
        <p>
          Kinangop TVC was founded on Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Doloribus minima temporibus ut iure dolor recusandae
          quas sed quam dolorum possimus ad ea quod, nobis impedit assumenda,
          delectus nulla qui nesciunt?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          repellendus ducimus iste repellat saepe assumenda doloribus aliquam
          perspiciatis quae nesciunt earum impedit mollitia delectus voluptas,
          eaque laborum voluptates sunt praesentium, laudantium perferendis.
          Dolor dignissimos sed fugit quia vero sunt pariatur itaque doloremque?
          Obcaecati pariatur dolores dolorem adipisci excepturi autem beatae
          consectetur labore, dolorum ducimus alias, ipsum placeat facilis! Odio
          quam expedita quas officiis error, quae quaerat quasi necessitatibus
          dignissimos perspiciatis similique! Iste doloremque eos omnis
          adipisci! Magni, at voluptas aperiam sunt magnam inventore facere
          totam, placeat delectus esse animi hic deserunt nulla expedita
          eligendi doloribus laborum adipisci itaque alias velit!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, porro
          fuga culpa minus quis dicta quaerat nihil a dolorem facilis
          consectetur omnis fugiat nisi quos tenetur error! Neque, atque! Modi
          repellendus repellat animi, placeat architecto cupiditate perspiciatis
          ex quia, laborum nemo a fugit. Sint quis error adipisci vero,
          dignissimos nihil provident libero iure dolore, veritatis recusandae
          cum, quasi tempora praesentium totam? Dolor id, praesentium reiciendis
          nostrum maxime quibusdam officiis modi dicta explicabo eligendi
          repudiandae? Minima impedit quibusdam molestiae labore doloribus,
          culpa eos dolore veniam nostrum ipsam perspiciatis alias
          reprehenderit. Voluptate velit eum dolor voluptatem nemo fugiat
          asperiores quisquam magni repellat optio repudiandae, ipsam, odio quod
          nam officia numquam. Voluptatem, et. Voluptatibus dolore quam dolorem
          commodi officia! Temporibus magni, dolore numquam optio aut,
          architecto blanditiis ab ducimus eos similique qui vero nihil aliquam
          omnis et accusamus, possimus tenetur odio laudantium dolorem eligendi.
          Reprehenderit sapiente repudiandae possimus ad in voluptates aliquam
          molestias amet delectus tenetur, cumque neque excepturi tempore nobis
          eum deleniti voluptas doloremque! Repellendus unde voluptatum quas
          perspiciatis asperiores est omnis tenetur dicta quia voluptas
          perferendis, numquam ipsam magnam sint adipisci in dignissimos eius
          maiores ad alias provident! Reprehenderit ratione, maiores illo
          tempora ex mollitia quaerat veritatis omnis quis fuga nulla!
        </p>
      </div>
    </div>
  </section>
  {% endblock %}
</div>
