{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Service Charter {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Service Charter</h2>
        <ul>
          {% for service in services %}
          <li>
            <a href="{{ service.charter.url }}" download="{{ service.title }}">
              {{service.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
