{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Vision and Mission {% endblock %}</div>

<div>
  {% block content %}

  <!-- banner -->
  <div class="banner">
    <div class="banner-msg">
      <h2>Kinangop Technical and Vocational College</h2>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="about">
        <h2>Kinangop Technical and Vocational College</h2>
        <h3>Vision</h3>
        <p>
          A world class TVET institution that provides market driven technical
          knowledge and skills
        </p>
        <h3>Mission</h3>
        <p>
          To Provide quality TVET skills by adapting relevant technologies to
          empower trainees meet industrial needs for sustainable development
        </p>
        <h3>Quality Policy Statement</h3>
        <p>
          Kinangop TVC is committed to providing quality Technical and
          Vocational Education and Training that is competency oriented to meet
          dynamic market and industrial needs. The top management shall ensure
          continuous improvement in teaching infrastructure and review of
          quality objectives to meet the changing needs in industry and society
        </p>
        <h3>Core Values</h3>
        <ul>
          <li>Responsiveness</li>
          <li>Versatility</li>
          <li>Team work</li>
          <li>Transparency</li>
          <li>Integrity</li>
        </ul>
        <h3>Motto</h3>
        <p>Skills for self reliance</p>
      </div>
    </div>
  </section>
  {% endblock %}
</div>
