{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Vision and Mission {% endblock %}</div>

<div>
  {% block content %}

  <!-- banner -->
  <div class="banner">
    <div class="banner-msg">
      <h2>Kinangop Technical and Vocational College</h2>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="about">
        <h2>Kinangop Technical and Vocational College</h2>
        <h3>Vision</h3>
        <p>
          Kinangop TVC was founded on Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Doloribus minima temporibus ut iure dolor recusandae
          quas sed quam dolorum possimus ad ea quod, nobis impedit assumenda,
          delectus nulla qui nesciunt?
        </p>
        <h3>Mission</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          explicabo nam aliquam optio minus quas est, dignissimos iste
          laudantium praesentium voluptatibus accusantium quae esse alias totam
          laborum. Illum, eius ullam?
        </p>
        <h3>Core Values</h3>
        <ul>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            expedita?
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            expedita?
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <h3>Objectives</h3>
        <ul>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            expedita?
          </li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            expedita?
          </li>
        </ul>
      </div>
    </div>
  </section>
  {% endblock %}
</div>
