{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Vision and Mission {% endblock %}</div>

<div>
  {% block content %}

  <!-- banner -->
  <div class="banner">
    <div class="banner-msg">
      <h2>Kinangop Technical and Vocational College</h2>
    </div>
  </div>
  <section class="main">
    <div class="container">
      <div class="about">
        <h2>Kinangop Technical and Vocational College</h2>
        <h3>Vision</h3>
        {{statement.vision | safe}}
        <h3>Mission</h3>
        {{statement.mission | safe}}
        <h3>Quality Policy Statement</h3>
        {{statement.quality_policy_statement | safe}}
        <h3>Core Values</h3>
        {{statement.core_values | safe}}
        <h3>Motto</h3>
        {{statement.motto | safe}}
      </div>
    </div>
  </section>
  {% endblock %}
</div>
