{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} General Application Procedure {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">General Application procedures</h2>
        <p>
          Kinangop Technical and Vocational College Academic year begins in May
          and September of each calendar year and ends in March and May of the
          same year and the following year respectively. The Academic Year
          comprises of one module and an industrial attachments..
        </p>
        <p>
          Kinangop Technical training Institute offers various programmes at
          Certificate and Diploma levels.
        </p>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
