{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Academic Programs {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Academic Programs</h2>
        <table>
          <thead>
            {% for department in departments %}
            <tr>
              <th colspan="6">{{ department.department_name }}</th>
            </tr>
            <tr>
              <th scope="col">Course</th>
              <th scope="col">Module</th>
              <th scope="col">Exam Body</th>
              <th scope="col">Minimum Qualification</th>
              <th scope="col">Duration</th>
              <th scope="col">Intake</th>
            </tr>
          </thead>
          {% for course in department.course_set.all %}
          <tbody>
            <tr>
              <td scope="row" data-label="Course">{{ course.course_name}}</td>
              <td scope="row" data-label="Module">{{ course.module}}</td>
              <td data-label="Exam Body">{{ course.exam_body}}</td>
              <td data-label="Minimum Qualification">
                {{ course.min_qualification }}
              </td>
              <td data-label="Duration">{{ course.duration }}</td>
              <td data-label="Intake">{{ course.intake }}</td>
            </tr>
          </tbody>
          {% endfor%} {% endfor %}
        </table>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
