{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Academic Programs {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <header class="title-bar">
        <h2>Academic Programs</h2>
        <a href="/">Home</a>
      </header>
      <section class="content">
        <h2>Food and Beverage</h2>
        <ul>
          <li>Artisan in Food and beverage</li>
          <li>Certificate in Food and beverage</li>
          <li>Diploma in Food and beverage</li>
        </ul>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
