{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Careers {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Career Vacancies</h2>
        <ul>
          {% for career in careers %} {% if career.active %}
          <li>
            <a href="{{ career.file.url }}" download="{{ career.title }}"
              >{{ career.title }}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
