{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Careers {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Internship Opportunities</h2>
        <ul>
          {% for internship in internships %}
           {% if internship.active %}
            <li><a href="{{internship.file.url}}" download="{{ internship.title }}">{{ internship.title }}</li></a>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
