{% extends 'app/main.html' %} {% load static %}

<div>{% block title %} Careers {% endblock %}</div>

<div>
  {% block content %}
  <section class="main">
    <div class="container">
      <section class="content">
        <h2 class="title-head">Available Tenders</h2>
        <ul>
          {% for tender in tenders %} {% if tender.active %}
          <li>
            <a href="{{ tender.file.url }}" download="{{ tender.title }}"
              >{{ tender.title }}</a
            >
          </li>
          {% endif %} {% endfor %}
        </ul>
      </section>
    </div>
  </section>
  {% endblock %}
</div>
