{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kinangop TVC | {% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/kinangop-logo-removebg.png' %}"
    />
  </head>
  <body>
    <header class="nav">
      <a href="/"
        ><img
          src="{% static 'images/kinangop-logo.jpeg' %}"
          alt="Kinangop TVC"
          class="logo"
      /></a>

      <ul class="main-nav">
        <li>
          <a href="{% url 'about' %}">About</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'about' %}">Brief History</a></li>
            <li><a href="{% url 'vision' %}">Vision and Mission</a></li>
            <li><a href="{% url 'service_charter' %}">Service Charter</a></li>
          </ul>
        </li>
        <li>
          <a href="">Administration</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'principal' %}">Principal</a></li>
            <li><a href="{% url 'bogs' %}">Board Of Governors</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'procedures' %}">Admission</a>
          <ul class="nav-dropdown">
            <li>
              <a href="{% url 'procedures' %}">Application Procedure</a>
            </li>
            <li><a href="{% url 'programs' %}">Academic Programmes</a></li>
            <!-- <li><a href="">Fee Structure</a></li> -->
            <!-- <li><a href="">Other Downloads</a></li> -->
            <li>
              <a href="{% url 'online-registration' %}">Online Registration</a>
            </li>
            <!-- <li><a href="">Download Registration Form</a></li> -->
            <li><a href="{% url 'contacts' %}">Contact Us</a></li>
          </ul>
        </li>
        <li>
          <a href="">Students</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'welfare' %}">Student Welfare</a></li>
            <!-- <li><a href="{% url 'student-downloads' %}">Downloads</a></li> -->
            <li><a href="{% url 'dean' %}">Dean of Students</a></li>
          </ul>
        </li>
        <li>
          <a href="">Opportunities</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'careers' %}">Careers</a></li>
            <li><a href="{% url 'tenders' %}">Tenders</a></li>
            <li><a href="{% url 'internships' %}">Internship</a></li>
          </ul>
        </li>
        <li>
          <a href="">Portals</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'student-login' %}">Student portal</a></li>
            <li><a href="{% url 'staff-login' %}">Staff Portal</a></li>
          </ul>
        </li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
      </ul>
      <button id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>

    {% block content %} {% endblock %}

    <footer>
      <p id="copy">
        Copyright &copy; {% now "Y" %} KInangop TVC. All Rights Reserved
      </p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
